.checkbox {
    position: relative;
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    user-select: none;
    cursor: pointer;
}

.checkbox input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    background-color: #d4cccc;
}

.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 0.7rem;
    top: 0.4rem;
    width: 0.6rem;
    height: 1rem;
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
