.qr-code-upload {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    background-color: $color-white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    cursor: pointer;

    & input {
        display: none;
    }

    & svg {
        font-size: 3rem;
    }
}
