$color-white: #fff;
$color-black: #000;
$color-default: #353c42;
$color-background: #f6f6f6;
$color-blue: #5e72e4;
$color-indigo: #5603ad;
$color-red: #d93a3a;
$color-orange: #fb6340;
$color-yellow: #ffd600;
$color-green: #1bab1c;
$color-success: #00f2c3;
$color-info: #1d8cf8;
$color-warning: #ff8d72;
$color-danger: #fd5d93;
