.reset-password {
    display: flex;
    justify-content: center;

    &-container {
        max-width: 55rem;
        margin: 6rem 0;
        padding: 3rem 4rem;
        background-color: $color-white;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;

        @include respond(mobileL) {
            padding: 3rem 2rem;
        }

        & a {
            font-size: 1.4rem;
            font-weight: 500;
            color: $color-indigo;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: darken($color-indigo, 10%);
            }
        }
    }
}
